.globalButton {
  position: fixed;
  z-index: 1000;
  background-color: transparent;
  top: .2rem;
  left: .2rem;
  color: white;
  border-radius: 999px !important;
  font-size: 4rem !important;
  background-color: transparent !important;
}

.title {
  font-size: 4rem;
  color: white;
}

img.nav-icon-img {
  width: 115px;
  margin-right: 25px;
  margin-top: 25px;
}

img.nav-icon-img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

img.nav-icon-img {
  width: 115px;
  margin-right: 25px;
  margin-top: 25px;
  transition: 0.3s;
}

.ui.inverted.vertical.labeled.icon.ui.push.right.thin.visible.sidebar.menu {
  width: 400px;
}

.ui.visible.thin.right.sidebar~.fixed,
.ui.visible.thin.right.sidebar~.pusher {
  -webkit-transform: translate3d(-400px, 0, 0);
  transform: translate3d(-400px, 0, 0);
}

.modal-container {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
}

.contact-header {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100%;
}

.login-page {
  background: url(../img/login-bg.jpg);
  background-size: cover;
  background-position-y: center;
  background-position-x: 285px;
}

.login-sidebar {
  background: #f5f5f5;
  height: 100vh;
  width: 35%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: baseline;
  padding-top: 75px;
  padding-bottom: 40px;
}

.login-logo {
  flex: 1;
  text-align: center;
}

.login-title {
  flex: 0.5;
  font-size: 2.5rem;
  /* color: #c5c5c5; */
  color: rgb(178, 176, 177);
  font-weight: 300;
  letter-spacing: 2px;
}

.login-form-container {
  flex: 2 1;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.login {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.signin-form {
  height: 100%;
  width: 100%;
}

form.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

label.login-label {
  color: #f5821f;
  font-size: 1.2rem;
  float: left;
  margin-right: 5px;
  width: 15%;
}

hr.form-divider {
  /* border-bottom: solid 3px #c5c5c5; */
  width: 100%;
  border-radius: 5px;
  border: 0;
  height: 0;
  box-shadow: 0 0 0.07rem 2px #c5c5c5;
}

.form-group {
  display: inline-flex;
}

.form-group {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  margin: 10px;
  flex-flow: row wrap;
}

input.login-form-field {
  background: transparent;
  border: none;
  width: 80%;
  font-size: 1.4rem;
  padding: 0 10px;
  color: rgb(99, 99, 99);
  letter-spacing: 1px;
  font-weight: 100;
}

span.form-error {
  text-align: right;
  width: 100%;
  margin-top: 5px;
  color: #f5811f;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
}

input.login-form-field:focus {
  outline-width: 0;
}

button.login-form-button {
  width: 65%;
  height: 50px;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 0 21px;
  background: #f5821f;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  font-weight: 100;
  letter-spacing: 2px;
}

button.login-form-button:hover {
  background: orange;
  cursor: pointer;
}

a.register-link {
  flex: 0.5 1;
  font-size: 1.2rem;
  color: rgb(178, 176, 177);
  font-weight: 300;
  letter-spacing: 2px;
}

a.register-link:hover {
  color: rgb(0, 0, 0);
}

.contact-input {
  padding: 10px;
  width: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.price-container {
  height: 330px;
  background-color: black;
  border: solid 5px #CB2805;
  border-bottom: #CB2805 solid 55px;
  border-top: none;
  width: 200px;
  clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}

.price-title {
  color: white;
  line-height: 1.2;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  font-family: 'Arial Black', sans-serif;
}

.cross-through1 {
  position: relative;
  height: 5px;
  background-color: #CB2805;
  z-index: 9999;
  top: 93px;
  transform: rotate(30deg);
  width: 75%;
  margin: 0 auto;
}

.cross-through2 {
  position: relative;
  height: 5px;
  background-color: #CB2805;
  z-index: 1;
  top: 89px;
  transform: rotate(-30deg);
  width: 75%;
  margin: 0 auto;
}

.home-page-text-container {
  height: 400px;
  z-index: 9999;
  position: absolute;
  width: 80%;
  /* margin: 0 auto; */
  left: unset;
  /* right: auto; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 20%;
  overflow: hidden;
  white-space: nowrap;
}

.page-1-logo {
  text-align: right;
  width: 180px;
  margin-left: auto;
  margin-right: 35%;
}

.page1-main-text {
  color: white;
  font-family: 'Arial Black', sans-serif;
  font-size: 30px;
  position: absolute;
  text-align: right;
  margin-right: 190px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  left: 46%;
}

.page-1-secondary-text {
  color: white;
  position: absolute;
  left: 60%;
  font-size: 27px;
  margin-top: 13px;
  font-family: 'Century Gothic', sans-serif;
  top: 55px;
  font-weight: 100;
}

.page-2-text {
  width: 100%;
}

.page-2-title {
  color: white;
  font-family: 'Arial Black', sans-serif;
  font-size: 40px;
  position: relative;
  left: 50%;
  bottom: 220px;
  letter-spacing: 1px;
  background: #00000085;
  height: 60px;
  line-height: initial;
  width: 100%;
  padding-left: 30px;
}

.page-2-text1 {
  color: white;
  font-family: 'Century Gothic', sans-serif;
  font-size: 25px;
  position: relative;
  right: 23%;
  bottom: 215px;
  letter-spacing: 1px;
  background: #00000085;
  height: 45px;
  line-height: 2;
  width: 100%;
  padding-right: 30px;
  text-align: right;
  font-weight: 100;
}

.page-2-text2 {
  color: white;
  font-family: 'Century Gothic', sans-serif;
  font-size: 15px;
  position: relative;
  left: 46%;
  bottom: 215px;
  letter-spacing: 1px;
  background: #00000085;
  height: 34px;
  line-height: 2;
  width: 100%;
  padding-left: 30px;
  font-weight: 100;
  margin: 5px 0;
}

/* Mobile */

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .hide-on-mobile {
    display: none !important;
  }
  .login-sidebar {
    width: 100%;
  }
  .login {
    width: 80%;
  }
  .contact-input {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1100px) {}

/* Large Displays */

@media only screen and (min-width: 1450) and (max-width: 1700px) {
  .login-page {
    background: url(../img/login-bg.jpg);
    background-size: cover;
    background-position-y: center;
    background-position-x: 450px;
  }
  .login-sidebar {
    background: #f5f5f5;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: baseline;
    padding-top: 75px;
    padding-bottom: 40px;
  }
  .login-logo {
    flex: 1;
    text-align: center;
  }
  .login-title {
    flex: 0.5;
    font-size: 2.5rem;
    /* color: #c5c5c5; */
    color: rgb(178, 176, 177);
    font-weight: 300;
    letter-spacing: 2px;
  }
  .login-form-container {
    flex: 2 1;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
    width: 100%;
  }
  .login {
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .signin-form {
    height: 100%;
    width: 100%;
  }
  form.login-form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* justify-content: space-evenly; */
  }
  label.login-label {
    color: #f5821f;
    font-size: 1.2rem;
    float: left;
    margin-right: 5px;
    width: 15%;
  }
  hr.form-divider {
    /* border-bottom: solid 3px #c5c5c5; */
    width: 100%;
    border-radius: 5px;
    border: 0;
    height: 0;
    box-shadow: 0 0 0.07rem 2px #c5c5c5;
  }
  .form-group {
    display: inline-flex;
  }
  .form-group {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    margin: 10px;
    flex-flow: row wrap;
  }
  input.login-form-field {
    background: transparent;
    border: none;
    width: 80%;
    font-size: 1.4rem;
    padding: 0 10px;
    color: rgb(99, 99, 99);
    letter-spacing: 1px;
    font-weight: 100;
  }
  span.form-error {
    text-align: right;
    width: 100%;
    margin-top: 5px;
    color: #f5811f;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
  }
  input.login-form-field:focus {
    outline-width: 0;
  }
  button.login-form-button {
    width: 65%;
    height: 55px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0 21px;
    background: #f5821f;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  button.login-form-button:hover {
    background: orange;
    cursor: pointer;
  }
  a.register-link {
    flex: 0.5 1;
    font-size: 1.3rem;
    color: rgb(178, 176, 177);
    font-weight: 300;
    letter-spacing: 2px;
  }
  a.register-link:hover {
    color: rgb(0, 0, 0);
  }
}

/* Supersize me */

@media only screen and (min-width: 1700px) {}

@media only screen and (min-width: 767px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}